*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: green;
}
h1{
    color: goldenrod;
}
#message__el{
    font-style: italic;
}
p{
    color: white;
}
button{
    border: none;
    background-color: goldenrod;
    width: 180px;
    padding: 8px 48px;
    margin-bottom: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
button:hover{
    transform: scale(0.98);
}
button:active{
    transform: translateY(1px);
}